body{
  margin:0;
  padding: 0;
  box-sizing:border-box;
  display: flex;
  align-items:center;
  justify-content:center;
  height:fit-content;
  background-image: url("./images/pattern-background-mobile.svg");
  background-color:hsl(225, 100%, 94%);
  background-position:center;
  background-size:cover;
  font-family: 'Inter' sans-serif;
font-family: 'Red Hat Display', sans-serif;
}

#main_div_container{
  display:block;
  border-radius:20px;
  margin:20% 8%;
  text-align:center;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1), 0 7px 30px 0 rgba(0, 0, 0, 0.2);
  background-color:#ffff;
}

#header_container{
  background:url("./images/illustration-hero.svg");
  background-size:cover;
  background-position: center;
  height:30vh;
  border-radius:20px 20px 0 0;
}

#section_container{
  padding:20px 20px 10px 20px;
}

#section_container h2{
  padding:0;
  margin:0;
  text-align:center;
  font-size:25px;
  font-weight:900;
}

#section_container p{
  text-align:center;
  line-height:22px;
  font-size:14px;
  padding:0 25px;
}

#music_logo{
  width:35px;
  height:35px;
}

#payment_container{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  padding:10px 20px;
  margin:0 20px 20px;
  border-radius:10px;
  background-color:hsl(225, 100%, 98%);
  
}
#payment_container #flexit{
  display:flex;
  align-items:center;
  flex:1;
}
#payment_container #span{
  padding:0 20px;
  font-size:10px;
}

#span h2{
  font-size:14px;
  font-weight:700;
  margin:0;
  padding:0;
}

#span p{
  font-weight:300;
  padding:0;
  margin:0;
  font-size:14px;
}

a{
  font-size:15px;
  font-weight:700;
  transition:all 300ms ease-in-out;
}

a:hover{
  color:hsl(225, 100%, 74%);
  cursor:pointer;
  text-decoration:none;
}

#buttons_container{
  display:block;
  margin:0 6%;
  margin-bottom:20px;
}

#button_top{
  border:none;
  border-radius:8px ;
  font-size:14px;
  font-weight:700;
  margin-bottom:10px;
  padding:14px;
  width:100%;
  color:white;
  background-color:hsl(245, 75%, 52%);
  box-shadow:0 10px 20px #919AFF;
  transition:all 300ms ease-in-out;
  
}

#button_top:hover{
  background-color:hsl(225, 100%, 70%);
  cursor: pointer;

}
#button_bottom{
  font-weight:700;
  padding:0;
  margin:10px 0;
  color:hsla(223, 47%, 40%,0.4);
  background-color:transparent;
  border:none;
  transition:all 300ms ease-in-out;
}

#button_bottom:hover{
  color:hsl(223,47%,10%);
}

@media (min-width:480px){
  body{
    margin:0;
    padding:0;
    background:url("./images/pattern-background-desktop.svg");
    background-color:hsl(225, 100%, 94%);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
    height:fit-content;
  }

#header_container{
    height:45vh;
} 
  
  #main_div_container{
  }
}
